/* font inport start */

/* english font  */
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Brawler:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Brawler:wght@400;700&family=Mooli&display=swap");

/* Bangla Font  */
@import url("https://fonts.maateen.me/mukti/font.css");
@import url("https://fonts.maateen.me/siyam-rupali/font.css");
@import url("https://fonts.maateen.me/solaiman-lipi/font.css");

/* font inport end */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
html,
body {
  overflow-x: hidden !important;
}
body {
  background: url(../img/backgrounp_img/bg_img.jpg);
  font-family: "Mooli", sans-serif;
}
:root {
  --main-bg-color: #360591;
  --main-text-color: rgb(255, 255, 255);
}
.heading_title {
  letter-spacing: 3px;
}
/* main title div  */
.header_title{}
/* xxl size div sort  */
.heading_text{}


.services_item_title {
  width: 300px;
}
/* Panel Border */
.panel {
  border: 1px solid #ffffff; /* Panel  Border color Change */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -1px -1px 9px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -1px -1px 9px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -1px -1px 9px 6px rgba(255, 255, 255, 0.75);
}
.panel:hover {
  border: 1px solid var(--main-bg-color); /* Panel  Border color Change */
  box-shadow: 5px 10px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 10px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 10px 9px 0px rgba(0, 0, 0, 0.75);
}
/* Panel Heading */
.panel-heading-color {
  background-color: var(
    --main-bg-color
  ); /* Panel Heading  Bacground color Change */
  padding: 12px;
  font-size: 18px;
  color: var(--main-text-color); /* Panel Heading  Text color Change */
}
/*Modal  Heading */
.modal-header {
  background-color: var(
    --main-bg-color
  ); /* Modal Heading  Bacground color Change */
  color: var(--main-text-color);
}

/*Nitice And Useful Link */
.notice_link {
  color: black; /* Nitice And Useful Link  color Change */
}
.notice_link:hover {
  color: #151515; /*Hover  Nitice And Useful Link  color Change */
}
.button-right p {
  text-align: right;
}
/*  Start Header Section */
/* Responsive layout -  header  */
.main_hearder {
  background-color: var(
    --main-bg-color
  ); /* Website Header Background Color Change  */
}
.logu-left {
  /* float: left; */
  /* width: 15%; */
}
.mainheader_text {
  /* float: left; */
  /* width: 70%; */
}
.logu-right {
  /* float: right; */
  /* width: 15%; */
  /* background: #ccc; */
}
.mainheader-content h1 {
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Brawler", serif;
  font-size: 63px; /* Website Header  h1 Text Size Change   */
  text-align: center;
  margin-bottom: 15px;
  color: var(--main-text-color); /* Website Header  h1 Text Color Change   */
  letter-spacing: 3px;
}
@media screen and (max-width: 400px) {
  .mainheader-content h1 {
    font-size: 18px;
  }
  .mainheader-content p {
    font-size: 15px !important;
    line-height: 21px !important;
  }
}

.mainheader-content p {
  font-family: "Brawler", serif;
  text-align: center;
  margin-top: 0px;
  font-size: 35px; /* Website Header  p Text Size Change   */
  color: var(--main-text-color); /* Website Header  h1 Text Color Change   */
}
.logu-left-content img {
  /* float: right; */
  margin-top: 26px;
  height: 140px;
  width: 140px;
}
.logu-right-content img {
  height: 140px;
  width: 140px;
  margin-top: 10px;
}
/* Responsive layout -  header  with mobile size max 600 to 900*/

@media screen and (max-width: 767px) {
  .logu-right {
    display: none;
  }
  .logu-left {
    display: none;
  }
  .mainheader-content h1 {
    font-size: 21px; /* Responsive  Website Header  h1 Text Size Change   */
    text-align: center;
    /* *background: green; */
    letter-spacing: 1.2px;
  }
  .mainheader-content p {
    text-align: center;
    line-height: 1;
    margin-top: -5px;
    font-size: 16px; /* Responsive  Website Header  P Text Size Change   */
    letter-spacing: 1.2px;
    margin-bottom: 6px;
  }
  .logu-left-content img {
    float: right;
    margin-top: 10px;
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .main_hearder {
  }
  .logu-right {
    display: inline-block;
  }
  .logu-left {
    display: inline-block;
  }

  .mainheader-content h1 {
    font-size: 20px; /* Responsive  Website Header  h1 Text Size Change   */
    text-align: center;
    /* *background: green; */
    letter-spacing: normal;
  }
  .mainheader-content p {
    text-align: center;
    line-height: 1;
    margin-top: -5px;
    font-size: 17px; /* Responsive  Website Header  P Text Size Change   */
  }
  .logu-left-content img {
    /* float: right; */
    margin-top: 14px !important;
    margin-left: 3px !important;
  }
  .logu-right-content img {
    position: relative;
    top: -11px;
    right: 40px;
  }
}
@media screen and (min-width: 991px) {
 .header_title_section{
  width: 70%;
 }
  .mainheader-content h1 {
    font-size: 23px; /* Responsive  Website Header  h1 Text Size Change   */
    letter-spacing: 1.3px;
    font-weight: 900;
  }
  .mainheader-content p {
    line-height: 1;
    font-size: 25px; /* Responsive  Website Header  P Text Size Change   */
  }
  .logu-right-content img {
    position: relative;
    left: 0px;
    top: -7px;
  }
  .logu-left-content img {
    /* float: right; */
    margin-top: 16px !important;
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .header_title_section{
    width: 60%;
   }
  .mainheader-content h1 {
    font-size: 28px; /* Responsive  Website Header  h1 Text Size Change   */
    letter-spacing: 1.3px;
    font-weight: 900;
  }
  .mainheader-content p {
    text-align: center;
    margin-top: -5px;
    font-size: 21px; /* Responsive  Website Header  P Text Size Change   */
    letter-spacing: 2px;
  }
}

/* End Header Section */
/* Start Header Section */
/* Responsive layout -Navigation  */
.navpadding {
  margin-bottom: 5px;
}
.topnav {
  overflow: hidden;
  background-color: var(
    --main-bg-color
  ); /*Navigation  background Color Change   */
}
.topnav a {
  float: left;
  display: block;
  color: var(--main-text-color); /*Navigation  Link  Text  color Change   */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.active_home {
  background-color: #0a0c97 !important; /*Home Active   background Color Change   */
  color: #fbfbfb !important; /*Home Active   Link  Text  color Change   */
}
.topnav .icon {
  display: none;
}
.dropdown1 {
  float: left;
  overflow: hidden;
}
.dropdown1 .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: var(--main-text-color); /*Drop down  Link  Text  color Change   */
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(
    --main-text-color
  ); /* Dropdoen  Navigation  background Color Change   */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #080808; /*Drop down content   Link  Text  color Change   */
  *padding: 12px 16px;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.topnav a:hover,
.dropdown1:hover .dropbtn {
  background-color: #000980; /* Hover Navigation  background Color Change   */
  color: var(
    --main-text-color
  ); /*Hover Navigation  Link  Text  color Change   */
  text-decoration: none;
  /* margin-bottom: 1px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.dropdown-content a:hover {
  background-color: #e2e2e2; /*Hover  Dropdoen  Navigation  background Color Change   */
  color: #080808; /*Hover Drop down content  Link  Text  color Change   */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.dropdown1:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown1 .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown1 {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown1 .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* End Header Section */
/*Start More Section */
#more1 {
  display: none;
}
#more2 {
  display: none;
}
/* End more Section */
/* Start Footer Design Section */
.footer-content {
  background: #02286e;
  /* if Fotor Bacground Color Change  */
  color: rgb(255 255 255 / 86%);
  /* line-height: 1.3px; */
  border-radius: 16px;
  /* font-weight: 600; */
}
.footer-content p {
  margin-bottom: 0px !important;
  font-size: 20px;
}
.footer-content a {
  color: #fff;
}
.footor-logu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}
.social-content {
  /* margin-left: 75px; */
}
.footer-social-links a {
  height: 42px;
  width: 42px;
  color: var(--main-text-color);
  font-size: 30px;
  line-height: 42px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  background-color: var(--main-bg-color);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.footer-social-links a:last-child {
  margin-right: 0;
}
.footer-social-links a:hover {
  color: var(--main-text-color);
  background: #008000; /* if Social Icon  Bacground Color Change  */
  -webkit-animation: pulseOrange 1s 1 linear;
  animation: pulseOrange 1s 1 linear;
}
.footer-column3 {
  margin-left: 20px;
}
.footer-column3 h5 {
  font-weight: 900;
}
.power-logu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Responsive layout -  header  with mobile size max 600*/
@media screen and (max-width: 600px) {
  .social-content {
    /* margin-left: 90px; */
  }
}
@media screen and (max-width: 767px) {
  #copyRight {
    padding: 20px 0px !important;
  }
}
/* End Footer Design Section */
/* Start Scroll Button  Section */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(
    --main-bg-color
  ); /* if Scroll Button  Bacground Color Change  */
  color: var(--main-text-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #000980; /*Hover if Scroll Button  Bacground Color Change  */
}
/* END Scroll Button  Section */

/*Start Teacher  Section */
.teacher-container {
  position: relative;
  width: 100%;
}
.teacher-image {
  display: block;
  width: auto;
  height: 340px;
  margin: auto;
}
.teacher-education {
  font-size: 12px;
}
.teacher-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.teacher-container:hover .teacher-overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.teacher-text {
  color: var(--main-text-color);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.teacher-modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*End  Teacher  Section */

/* ----------------teacher page------------------------------------------------- */

.bg-custom {
  background-color: var(--main-bg-color);
  margin-bottom: 15px;
}
.custom_color_border {
  border: 2px solid var(--main-bg-color);
}

/* ------------------helplineSection  in home page------------------------ */
#helplineMobile {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #helplineMobile {
    display: block !important;
    width: 100%;
  }
  #helplineMobilePanel {
    display: block;
  }
  #helplineDeskPanelRow {
    display: none;
  }
  #helplineDeskPanel {
    display: none;
  }
  #helplineDesk {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #helplineMobilePanel {
    display: none;
  }
  #helplineMobile {
    display: none !important;
  }

  #helplineDeskPanelRow {
    display: block;
  }
  #helplineDeskPanel {
    display: block;
  }
  #helplineDesk {
    display: block;
    height: 90px;
  }
}

@media screen and (min-width: 1400px){
  .header_title_section{
    width: 60%;
   }
}

/* ---------------- img_galary page ------------ */
.imageGalleryItems {
  align-items: center;
}
